
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock Inventroy</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />

		<div class="navbar">
		
		<div class="subnav">
			<a href="#default" align="left" class="logo">The Inventory</a>
			<button class="subnavbtn">My account <i class="fa fa-caret-down"></i></button>
			<div class="subnav-content">
			<a href="/logout">Log out</a>
			<a href="#team">Permissions</a>	
		</div>
		</div> 
		<div class="subnav">
			<button class="subnavbtn">Stock <i class="fa fa-caret-down"></i></button>
			<div class="subnav-content">
				{{#each department}}
					{{#if this.stock_control}}
						<a href="/stock_add">Add Items</a>
					{{/if}}
					{{#if this.returns}}
						<a href="/stock_add">Returned items</a>
					{{/if}}
					{{#if this.till}}
						<a href="/stock_add">Sold Items</a>
					{{/if}}
					{{#if this.adulting_team}}
						<a href="/stock_add">Modify stock</a>
					{{/if}}
				{{/each}}
			</div>
		</div> 
		<a href="/">Home</a>
		</div>
			
			
	</head>
	<body>
		<br>
		<h4>Welcome back, {{this.username}}!</h4>

		<table>
			<tr>
   				<th>EAN Number</th>
				<th>Item Name</th>
				<th>Category</th>
				<th>Location</th>
				<th>Quantity Available</th>
  			</tr>
			{{#each items}}
			<tr>
				<th>{{this.ena_num}}</th>
				<th>{{this.itemName}}</th>
				<th>Category</th>
				<th>Location</th>
				<th>{{this.quantity}}</th>
			</tr>
			{{/each}}
		</table>
  
		<br/>
		
		<form action="/stock" enctype="multipart/form-data" method="post">
			<b>Barcode (EAN) number</b><br/><input type="number" placeholder="Enter EAN number" name="ena_num" min="0" max="100000" required>
			<br/>
			<b>Item Name</b><br/><input type="text" placeholder="Enter Item" name="itemName" required>
			<br/>
			<b>Quantity<b/><br/><input type="number" placeholder="Enter Quantity" name="quantity" min="0" max="1000" required>
						
			<p><input type="reset" class="mainbtn" value="Clear"> <button type="submit" class="mainbtn" value="Create">Add item</button></p>
						
		</form>
	
	</body>
</html>
