
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock Inventroy</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />

		<div class="header">
  			<a href="#default" class="logo">The Inventory</a>
  			<div class="header-right">
    		<a class="active" href="#home">Stock</a>
			<a href="/stock_add">Add items</a>
    		<a href="#about">Account</a>
  		</div>
			
	</head>
	<body>
		<br>
		<h4>Welcome back, {{this.username}}!</h4>
		<h3>Stock Level</h3>

		<table>
			<tr>
   				<th>EAN Number</th>
				<th>Item Name</th>
				<th>Quantity</th>
  			</tr>
			{{#each books}}
			<tr>
				<th>{{this.ena_num}}</th>
				<th>{{this.itemName}}</th>
				<th>{{this.quantity}}</th>
			</tr>
			{{/each}}
		</table>
  
		<br/>
		
		<form action="/stock" enctype="multipart/form-data" method="post">
			<b>Barcode (EAN) number</b><br/><input type="number" placeholder="Enter EAN number" name="ena_num" required>
			<br/>
			<b>Item Name</b><br/><input type="text" placeholder="Enter Item" name="itemName" required>
			<br/>
			<b>Quantity<b/><br/><input type="number" placeholder="Enter Quantity" name="quantity" required>
			<p><button type="submit" class="mainbtn" value="Create">Add item</button></p>
						
		</form>


		<p><a href="/logout">log out</a></p>
	
	</body>
</html>
