
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Log In</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<h1>Log In</h1>
			{{#if msg}}
				<p class="msg">{{msg}}</p>
			{{/if}}
			<hr>
			<form action="/login" method="post">
				<b>Username</b><br/><input type="text" name="user" placeholder="Enter Username" required>
				<br/>
				<b>Password</b><br/><input type="password" name="pass" placeholder="Enter Password" required>
				<br/>
				<button type="submit" class="mainbtn" value="Log in">Log in</button>
			</form>
		</div>
		<div class="container footer">
			<p> Do not have an account? <a href="/register">Register</a>.</p>
		</div>
	</body>
</html>
