<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Permissions page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Anita Tsoneva">
		<link href="style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<h1>Check employees permissions in the table below</h1>
			
			<table id="items">
			<tr>
                <th>        </th>
   				<th>Stock contol team</th>
				<th>Returns depatment</th>
				<th>Till</th>
				<th>Adulting team</th>
  			</tr>
			
			<tr>
                <td>Check the stock levels</td>
				<td><font color="green">&#10004;</font></td>
				<td><font color="green">&#10004;</font></td>
				<td><font color="green">&#10004;</font></td>
                <td><font color="green">&#10004;</font></td>
			</tr>
            
			<tr>
				<td>Add Items(s)</td>
                <td><font color="green">&#10004;</font></td>
				<td><font color="green">&#10004;</font></td>
				<td><font color="red">&#10006;</font></td>
                <td><font color="green">&#10004;</font></td>
			</tr>
			
            <tr>
				
				<td>Remove Items(s)</td>
                <td><font color="red">&#10006;</font></td>
				<td><font color="red">&#10006;</font></td>
				<td><font color="green">&#10004;</font></td>
                <td><font color="green">&#10004;</font></td>
			</tr>
            <tr>

				<td>View overall sales</td>
                <td><font color="green">&#10004;</font></td>
				<td><font color="green">&#10004;</font></td>
				<td><font color="green">&#10004;</font></td>
                <td><font color="green">&#10004;</font></td>
			</tr>
		</table>

		</div>
		<div class="container footer">
			<a href="/index">Back</a>
		</div>
	</body>
</html>