<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Stock Inventroy</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="style.css" type="text/css" rel="stylesheet" />

		<div class="navbar">
		
		<div class="subnav">
			
			<button class="subnavbtn">My account <i class="fa fa-caret-down"></i></button>
			<div class="subnav-content">
			<a href="/logout">Log out</a>
			<a href="/view_permissions">Permissions</a>	
		</div>
		</div> 
		<div class="subnav">
			<button class="subnavbtn">Stock <i class="fa fa-caret-down"></i></button>
			<div class="subnav-content">
				{{#each department}}
					{{#if this.stock_control}}
						<a href="/stock_add">Add Items</a>
					{{/if}}
					{{#if this.returns}}
						<a href="/">Returned items</a>
					{{/if}}
					{{#if this.till}}
						<a href="/">Sold Items</a>
					{{/if}}
					{{#if this.adulting_team}}
						<a href="/">Modify stock</a>
					{{/if}}
				{{/each}}
			</div>
		</div> 
		<a href="/">Home</a>
		</div>
			
			
	</head>
	<body>
		<br></br>
		<h2 align="center">Add new items to the stock</h2>

        <form action="/stock" align="center" enctype="multipart/form-data" method="post">
			<br>
            <b>Barcode (EAN) number</b><br/><input type="number" placeholder="Enter Barcode number" name="ena_num" min="0" max="100000" required>
            <br/>
            <b>Item Name</b><br/><input type="text" placeholder="Enter Item" name="item_name" required>
            <br/>
			<b>Select price</b><br/>
			<input type="number" placeholder="Enter price" min="1" step="any" name="product_price"/>
			</br>
            <b>Quantity<b/><br/><input type="number" placeholder="Enter Quantity" name="quantity" min="0" max="1000" required>
                                
            <p><input type="reset" class="mainbtn" value="Clear"> <button type="submit" class="mainbtn" value="Create">Add item</button></p>
                                
        </form>

    </body>
</html>